{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/tailwind.css" %}">
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
    {% if not is_popup and is_nav_sidebar_enabled %}
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/nav_sidebar.css" %}">
        <script src="{% static 'admin/js/nav_sidebar.js' %}" defer></script>
    {% endif %}
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
    {% block extrahead %}{% endblock %}
    {% block responsive %}
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
    {% endblock %}
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
{% load i18n %}
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
      data-admin-utc-offset="{% now "Z" %}">
<!-- Container -->
<div id="container">
    {% if not is_popup %}
        <!-- Header -->
        <div id="beanie-header">
            {#        <div id="branding">#}
            {#        {% block branding %}{% endblock %}#}
            {#        </div>#}
            {#        {% block usertools %}#}
            {#        {% if has_permission %}#}
            {#        <div id="user-tools">#}
            {#            {% block welcome-msg %}#}
            {#                {% translate 'Welcome,' %}#}
            {#                <strong>{% firstof user.get_short_name user.get_username %}</strong>.#}
            {#            {% endblock %}#}
            {#            {% block userlinks %}#}
            {#                {% if site_url %}#}
            {#                    <a href="{{ site_url }}">{% translate 'View site' %}</a> /#}
            {#                {% endif %}#}
            {#                {% if user.is_active and user.is_staff %}#}
            {#                    {% url 'django-admindocs-docroot' as docsroot %}#}
            {#                    {% if docsroot %}#}
            {#                        <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> /#}
            {#                    {% endif %}#}
            {#                {% endif %}#}
            {#                {% if user.has_usable_password %}#}
            {#                <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /#}
            {#                {% endif %}#}
            {#                <a href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>#}
            {#            {% endblock %}#}
            {#        </div>#}
            {#        {% endif %}#}
            {#        {% endblock %}#}
            {#        {% block nav-global %}{% endblock %}#}
            <nav class="{{ has_permission|yesno:'bg-primary,bg-primary-400' }}">
                <div class="w-full px-4">
                    <div class="flex items-center justify-between h-16">
                        <div class="flex items-center">
                            <div class="flex-shrink-0">
                                <div id="branding">
                                    {% block branding %}{% endblock %}
                                </div>
                            </div>
                            {% block nav-global %}{% include 'beanie/menu.html' %}{% endblock %}
                        </div>
                        {% if has_permission %}
                            <div class="hidden md:block">
                                <div class="ml-4 flex items-center md:ml-6">
                                    <div class="text-white">
                                        {% block welcome-msg %}
                                            {% translate 'Welcome,' %}
                                            {% firstof user.get_short_name user.get_username %}!
                                        {% endblock %}
                                    </div>
                                    <!-- Profile dropdown -->
                                    <div class="ml-3 relative">
                                        <div>
                                            <button class="max-w-xs bg-primary rounded-full flex items-center text-sm focus:outline-none focus:ring-0 focus:ring-offset-0 focus:ring-offset-primary focus:ring-white" id="user-menu" aria-haspopup="true">
                                                <span class="sr-only">Open user menu</span>
                                                <svg class="w-5 h-5 text-primary-100 hover:text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"/>
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                                                </svg>
                                            </button>
                                        </div>
                                        <!--
                                          Profile dropdown panel, show/hide based on dropdown state.

                                          Entering: "transition ease-out duration-100"
                                            From: "transform opacity-0 scale-95"
                                            To: "transform opacity-100 scale-100"
                                          Leaving: "transition ease-in duration-75"
                                            From: "transform opacity-100 scale-100"
                                            To: "transform opacity-0 scale-95"
                                        -->
                                        <div class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                                            {% block usertools %}
                                                {% if has_permission %}
                                                    {% block userlinks %}
                                                        {% if site_url %}
                                                            <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" href="{{ site_url }}">{% translate 'View site' %}</a>
                                                        {% endif %}
                                                        {% if user.is_active and user.is_staff %}
                                                            {% url 'django-admindocs-docroot' as docsroot %}
                                                            {% if docsroot %}
                                                                <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" href="{{ docsroot }}">{% translate 'Documentation' %}</a>
                                                            {% endif %}
                                                        {% endif %}
                                                        {% if user.has_usable_password %}
                                                            <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a>
                                                        {% endif %}
                                                        <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>
                                                    {% endblock %}
                                                {% endif %}
                                            {% endblock %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="-mr-2 flex md:hidden">
                                <!-- Mobile menu button -->
                                <button class="bg-primary inline-flex items-center justify-center p-2 rounded-md text-indigo-200 hover:text-white hover:bg-primary-600 hover:bg-opacity-75 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-primary focus:ring-white">
                                    <span class="sr-only">Open main menu</span>
                                    <!--
                                      Heroicon name: menu

                                      Menu open: "hidden", Menu closed: "block"
                                    -->
                                    <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                                    </svg>
                                    <!--
                                      Heroicon name: x

                                      Menu open: "block", Menu closed: "hidden"
                                    -->
                                    <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                                    </svg>
                                </button>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!--
                  Mobile menu, toggle classes based on menu state.

                  Open: "block", closed: "hidden"
                -->
                <div class="hidden md:hidden">
                    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                        <!-- Current: "bg-primary-200 text-white", Default: "text-white hover:bg-primary-600 hover:bg-opacity-75" -->
                        <a href="#" class="bg-headers text-white block px-3 py-2 rounded-md text-base font-medium">Dashboard</a>
                        <a href="#" class="text-white hover:bg-primary-600 hover:bg-opacity-75 block px-3 py-2 rounded-md text-base font-medium">Team</a>
                        <a href="#" class="text-white hover:bg-primary-600 hover:bg-opacity-75 block px-3 py-2 rounded-md text-base font-medium">Projects</a>
                        <a href="#" class="text-white hover:bg-primary-600 hover:bg-opacity-75 block px-3 py-2 rounded-md text-base font-medium">Calendar</a>
                        <a href="#" class="text-white hover:bg-primary-600 hover:bg-opacity-75 block px-3 py-2 rounded-md text-base font-medium">Reports</a>
                    </div>
                    <div class="pt-4 pb-3 border-t border-primary-200">
                        <div class="flex items-center px-5">
                            <div class="flex-shrink-0">
                                <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                            </div>
                            <div class="ml-3">
                                <div class="text-base font-medium text-white">Tom Cook</div>
                                <div class="text-sm font-medium text-indigo-300">tom@example.com</div>
                            </div>
                            <button class="ml-auto bg-primary flex-shrink-0 p-1 rounded-full text-indigo-200 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-primary focus:ring-white">
                                <span class="sr-only">View notifications</span>
                                <!-- Heroicon name: bell -->
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"/>
                                </svg>
                            </button>
                        </div>
                        <div class="mt-3 px-2 space-y-1">
                            <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-white hover:bg-primary-600 hover:bg-opacity-75">Your Profile</a>
                            <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-white hover:bg-primary-600 hover:bg-opacity-75">Settings</a>
                            <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-white hover:bg-primary-600 hover:bg-opacity-75">Sign out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Sub Menu -->
            {% block sub-nav-global %}{% include 'beanie/sub-menu.html' %}{% endblock %}
            <!-- END Sub Menu -->


            {% block breadcrumbs %}
                <div class="breadcrumbs">
                    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
                    {% if title %} &rsaquo; {{ title }}{% endif %}
                </div>
            {% endblock %}
        </div>
        <!-- END Header -->
    {% endif %}

    <div class="main shifted" id="main">
        {% if not is_popup and is_nav_sidebar_enabled %}
            {% block nav-sidebar %}
                {% include "admin/nav_sidebar.html" %}
            {% endblock %}
        {% endif %}
        <div class="content">
            {% block messages %}
                {% if messages %}
                    <ul class="messagelist">{% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                    {% endfor %}</ul>
                {% endif %}
            {% endblock messages %}
            <!-- Content -->
            <div id="content" class="{% block coltype %}colM{% endblock %}">
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}

                {% block content %}
                    {% block object-tools %}{% endblock %}
                    {{ content }}
                {% endblock %}
                {% block sidebar %}{% endblock %}
                <br class="clear">
            </div>
            <!-- END Content -->
            {% block footer %}
                <div id="footer"></div>{% endblock %}
        </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>
